{% extends 'base.html' %}
{% load teacher_extras %}

{% block title %}
    Student|Home
{% endblock %}

{% block content %}

    {% if is_teacher %}
        <h1>Your students by items with their ratings:</h1>
    {% else %}
        <h1>You are not a teacher</h1>
    {% endif %}

    {% for item in items %}
        <table class="table table-sm">

            <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="4">{{ item.name }}</th>
            </tr>

            <tr>
                <th>FIRST NAME</th>
                <th colspan="2">SECOND NAME</th>
                <th>NOT PRESENT</th>
            </tr>
            </thead>
            <tbody>

            {% for student in item.students|for_academic_year:request.session.current_academic_year %}
                {% for student_item in student.items_p %}
                    {% if student_item.ide == item.pk %}
                        <tr class="table-warning">
                            <td>{{ student.user.first_name }}</td>
                            <td colspan="2">{{ student.user.last_name }}</td>
                            <td>{{ student_item.not_present }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <th colspan="4">RATINGS</th>
                </tr>
                <tr>
                    <th>DATE</th>
                    <th>VALUE</th>
                    <th>NOTICE</th>
                    <th></th>
                </tr>
                {% for rating in ratings|for_student:student %}
                    <tr>
                        <td>{{ rating.date }}</td>
                        <td>{{ rating.value }}</td>
                        <td>{{ rating.notice }}</td>
                        <td><a href="{% url 'teacher:rating-update'  pk=rating.id %}">
                            <button class="btn btn-danger btn-sm">EDIT</button>
                        </a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

    {% endfor %}

{% endblock %}