{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diary for school - {% block title %}{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% endblock %}
    {% block scripts %}
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %}" async defer></script>
    {% endblock %}
</head>
<body>

{% include 'partials/nav.html' %}

{% include 'partials/messages.html' %}

<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-sm-12 col-lg-4">
            {% block aside %}

                <h5>You are logged as:</h5>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>Email: {{ user.email }}</p>
                {% if is_teacher %}
                    <p>Your role: TEACHER</p>
                    <p>Phone: {{ user.teacher.phone }}</p>
                {% endif %}
                {% if is_student %}
                    <p>Your role: STUDENT</p>
                    <p>Phone: {{ user.student.phone }}</p>
                {% endif %}
            <img style="width:100%;" src="{% static 'images/logo.jpg' %}" alt="Logo of School">
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>